#info{
    font-size: 15px;
    color: green;
    margin:0px;
    margin-bottom: 2px;
}

#debug{
    font-size: 15px;
    color: green;
    margin:0px;
    margin-bottom: 2px;
}

#error{
    font-size: 15px;
    color: red;
    margin:0px;
    margin-bottom: 2px;
}